<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/signup" method="post">
  <label for="username">Choose a username</label>
  <input type="text" name="username"><br><br>

  <label for="email">What's your email address?</label>
  <input type="text" name="email"><br><br>

  <label for="password">Enter a password</label>
  <input type="password" name="password"><br><br>

  <input type="submit">
</form>
